:root {
    --primary: #719b70;
    --primary-dark: rgba(58, 90, 64, 0.5);
    --secondary: #f2f2f2;
    --secondary-dark: #cdcdcd;
    --text: #000;
    --body: #d8f3dc;
    --error: #d62828;
    --success: #13c500;
    --dark: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary: #7e818c;
        --secondary-dark: #91939d;
        --text: #fff;
        --body: #202124;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

*:focus {
    box-shadow: 0 0 0 3px rgba(0, 125, 250, 0.45);
    outline: none;
}

html {
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text);
    background-color: var(--body);
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
}

.error {
    text-align: center;
    color: var(--error);
    font-weight: bolder;
    font-size: 18px;
}

/* SWITCH-CHECKBOX */

.input {
    position: relative;
}

.input__switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9999;
    opacity: 0;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.input__switch + .input__label {
    position: relative;
    display: block;
    cursor: pointer;
}

.input__switch + .input__label::before {
    content: "";
    display: block;
    width: 62px;
    height: 32px;
    border-radius: 100px;
    background: linear-gradient(
            157.86deg
            ,hsla(0,0%,100%,0) 8.02%,hsla(0,0%,100%,.02) 52.04%,hsla(0,0%,100%,0) 53.55%,hsla(0,0%,100%,0) 110.02%),linear-gradient(
            0deg
            ,rgba(58,90,64,.1),rgba(58,90,64,.1)),hsla(0,0%,100%,.1);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input__switch:checked + .input__label::before {
    background: linear-gradient(
            157.86deg
            ,hsla(0,0%,100%,0) 8.02%,hsla(0,0%,100%,.07) 52.04%,hsla(0,0%,100%,0) 53.55%,hsla(0,0%,100%,0) 110.02%),linear-gradient(
            0deg
            ,rgba(58,90,64,.5),rgba(58,90,64,.5)),hsla(0,0%,100%,.1);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input__switch + .input__label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    background: linear-gradient(
            168.16deg
            ,hsla(0,0%,100%,0) .3%,hsla(0,0%,100%,.02) 51.87%,hsla(0,0%,100%,0) 53.65%,hsla(0,0%,100%,0) 119.81%),linear-gradient(
            0deg
            ,var(--primary-dark),var(--primary-dark)),hsla(0,0%,100%,.1);
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-animation: switch-off .2s ease-out;
    animation: switch-off .2s ease-out;
}

.input__switch:checked + .input__label::after {
    left: 32px;
    background: linear-gradient(
            169.43deg
            ,var(--primary) 15.63%,hsla(0,0%,100%,.1) 56.29%,hsla(0,0%,100%,0) 57.69%,hsla(0,0%,100%,0) 109.87%),var(--primary);
    -webkit-box-shadow: 0 9px 15px rgb(0 0 0 / 25%);
    box-shadow: 0 9px 15px rgb(0 0 0 / 25%);
    -webkit-animation: switch-on .2s ease-out;
    animation: switch-on .2s ease-out;
    border: 1px solid rgba(255, 255, 255, .4);
}

@media (prefers-color-scheme: dark) {
    .input__switch + .input__label::after,
    .input__switch:checked + .input__label::after {
        border: none;
    }
}

/* Input Range */

input[type='range'] {
    overflow: hidden;
    width: 160px;
    outline: none;
    -webkit-appearance: none;
    background-color: var(--primary-dark);
    border-radius: 5px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: var(--primary);
    margin-top: 0;
    border-radius: inherit;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    box-shadow: -125px 0 0 120px var(--primary);
}

input[type="range"]::-moz-range-progress {
    border-radius: inherit;
    background-color: var(--primary);
}
input[type="range"]::-moz-range-track {
    background-color: var(--primary-dark);
    border-radius: inherit;
}
input[type="range"]::-ms-fill-lower {
    background-color: var(--primary);
    border-radius: inherit;
}
input[type="range"]::-ms-fill-upper {
    background-color: var(--primary-dark);
    border-radius: inherit;
}

/* Input type text */

.input.input--text {
    padding: 7px 12px;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-dark);
    transition: all .2s ease-in-out;
    color: var(--text);
}

.input.input--text:focus {
    outline: solid var(--primary);
}

.input.input--text::placeholder {
    color: rgba(255, 255, 255, .7);
}



/* Customization of scrollbar */

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-dark);
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}


/* Icons */

.icon {
    flex: none;
    width: 24px;
    height: 24px;
}

.icon.icon--small {
    width: 16px;
    height: 16px;
}

.icon.icon--upload {
    width: 20px;
    height: 19px;
}

/* Container */

.container {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-right: 72px;
    padding-left: 72px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Backbg */

.backbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.backbg.backbg--welcome {
    background-image: url("../images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}