.welcome {
    margin: 0 auto;
    width: 100%;
    padding: 50px 30px;
}

.welcome__welcome {
    margin: 70px 20px 30px;
}

.welcome__subtitle {
    font-size: 3rem;
    margin: 0;
}

.welcome__title {
    font-size: 6rem;
    letter-spacing: 0.04rem;
    font-weight: bolder;
    margin: 0;
    color: var(--primary);
    text-shadow: 0 0 3px var(--body);
}

.welcome__box {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    margin: 1.5rem 0 1rem 3rem;
}

.welcome__main {
    margin: 90px auto;
}

.welcome__main-title {
    font-weight: 700;
}

.welcome__main-article {
    margin-top: 50px;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px 15px;
}

.welcome__main-description {
    line-height: 160%;
    font-weight: 400;
}

.welcome__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: var(--primary);
    padding: 35px 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.welcome__footer-item {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    transition: color 300ms;
}

.welcome__footer-link {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    transition: color 300ms;
}

.welcome__footer-item:hover, .welcome__footer-item:hover .welcome__footer-link {
    color: #2d2f38;
}
