html {
    height: 600px;
    padding: .85rem;
}

body {
    max-height: 100%;
    width: 350px;
}

.popup {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.popup__header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    width: 100%;
}

.popup__header-center {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
}

.popup__logo {
    width: 34px;
    height: 36px;
}

.popup__title {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.06em;
}

.popup__qrcode {
    margin: 0 auto;
}

.popup__header-right,
.popup__header-left {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: color 500ms;
    color: var(--primary);
}

.icon--settings {
    transition: transform 350ms;
}

.popup__header-right:hover,
.popup__header-left:hover {
    color: var(--primary-dark);
}

.popup__header-right:hover .icon--settings {
    transform: rotate(360deg);
}

.popup__header-left:hover .icon--coffee {
    animation: .4s ease-out 0s alternate cupOfCoffee;
}

.popup__settings {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.popup__settings-option {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.popup__settings-download {
    outline: none;
    width: 100%;
    padding: .75rem 1.2rem;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
}

.popup__settings-download:hover {
    background-color: #b6ccfe;
    color: #111111;
}

.popup__settings-cell {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.popup__settings-text {
    font-size: 1em;
    font-weight: 600;
}

.popup__settings-value {
    font-weight: bolder;
    color: var(--primary);
}

.popup__settings-label {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
}

.popup__settings-option .input.input--color {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -50%;
    top: -50%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.popup__settings-option .input.input--color:focus {
    outline: none;
}

.popup__settings-option .input.input--color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.popup__settings-option .input.input--color::-webkit-color-swatch {
    border: none;
}

/* Uploader */

.uploader__label {
    padding: .45em .5em;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.uploader__label:hover {
    background-color: #b6ccfe;
    color: #111111;
}

.uploader__input {
    appearance: none;
    top: -1000px;
    right: -1000px;
    position: absolute;
    -webkit-appearance: none;
    opacity: 0;
}


/* Notifications */

.notification {
    min-height: 40px;
    width: 300px;
    padding: 5px 10px;
    background-color: var(--body);
    position: fixed;
    top: 10px;
    right: 10px;
    transform: translateX(150%);
    z-index: 9;
    color: var(--text);
    border-radius: 10px;
    transition: .45s ease-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.notification--success {
    background-color: var(--success);
    border: 3px solid #1e6c63;
}

.notification--error {
    background-color: var(--error);
    border: 3px solid #a0252d;
}

.notification.active {
    transform: translateX(0%);
}

.notification__grid {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    align-items: center;
}

.notification__icon {
    grid-row: 1/3;
    font-size: 35px;
}

.notification__text {
    font-weight: 400;
    font-size: 13px;
    color: var(--text);
}

.notification__title {
    font-size: 16px;
    font-weight: 700;
}

/* Animations */

@keyframes cupOfCoffee {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(45deg);
    }

    10% {
        transform: rotate(0);
    }
}